.course-section{
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}


.courses{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  width: 100%;
  margin-right: 10px;

}

.courses div{
  width: 100%;
  height: 270px;
  margin-right: 15px;
  margin-bottom: 10px;
  

}



.course-container{
  display: flex;
}


.course-img{
  max-width: 400px;
  height: 100%;

}

.item{
  display: flex;
  gap: 0px;
}

.course-more{
  flex-basis: 1px;
  font-weight: bold;
  color: rgb(84, 59, 114);
}

.course-img img{
  border-radius: 3rem 0 3rem 3rem;

}

.course-content *{
  margin-bottom: 15px;
}


.filters{
  display: flex;
  width: 25%;
  height: 350px;
  flex-direction: column;

}
.filter-based-category{
  margin-bottom: 10px;
  color: rgb(84, 59, 114);
}

.link-course a{
  display: block;
  margin-bottom: 10px;
}
.filter-diff-fee{
  color:rgb(84, 59, 114) ;
}

.checkbox-filter{
  margin-bottom: 10px;
}

.course-content h4{
  font-size: large;
  color: rgb(84, 59, 114);
}
.responsive-modal{
  display: none;
}

@media(max-width: 868px){
.filters{
  display: none;
}
.responsive-modal{
  display: block;
  margin-top: 10px;

}
.responsive-modal button {
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.responsive-modal .btn {
  font-size: 14px;
  line-height: 1.4;
}
.courses{
  margin-top: 25px;
}
/** Modal */
.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 350px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.modal-close-btn {
  position: relative;
  
  font-size: 20px;
}


/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}
.filters-resposive{
  margin-bottom: 10px;
}

.responsive-modal i{
  background-color: white;
  width: 50px;
  height: 50px;
  box-shadow: none;
}



}


.btn{

  border: none;
}

.telescope{
  font-size: 32px;
  position: relative;
  top: 10px;
  left: 50px;
  color: rgb(84, 59, 114);

}

.telescope:hover{
  color:  rgba(21,57,119,255);
}