{% extends "base.html" %}
{% load static %}
{% block body %}


<section class="container home" id="home">
    <div class="text">
        <h1>Empower Your Mind <br>Enrich Your Skills <br>Learn, Grow, Succeed!</h1>
        <a href={% url "register" %} class="btn">SignUp</a>
    </div>
</section>
<section class="container features" id="features">
    <div class="box">
    <i class='bx bxs-chevron-up-circle'></i>
    <h3>Upskill Your Career</h3>
    <p>Get ahead with our expert-led courses designed to elevate your skills and open doors to new opportunities.What are you waiting for? Start learning today</p>
</div>
<div class="box">
    <i class='bx bxs-heart-circle'></i>
    <h3>Get Your Dream Job</h3>
    <p>Ready to turn your aspirations into reality? Explore our expert-curated courses and get equipped with the skills that top employers are looking for</p>
</div>
<div class="box">
    <i class='bx bxs-user-circle'></i>
    <h3>Experienced Trainers</h3>
    <p>Learn from the best in the industry! Our seasoned trainers bring years of experience and expertise to guide you on your learning journey</p>
</div>
</section>
<section class="container about" id="home">
    <div class="about-img">
        <img src="{% static "about.jpg" %}" alt="">

    </div>
    <div class="about-txt">
        <h2>Craft Your Future <br>Start Your Journey</h2>
        <p>Our platform offers a diverse array of workshops meticulously designed to empower learners like you.</p>
        <p>Whether you're delving into cutting-edge technology, mastering creative arts, or exploring business strategies, Learny is your gateway to endless possibilities.</p>
        <p>Join our community of passionate learners and expert instructors committed to nurturing your intellectual curiosity and professional growth. </p>
        <a href={% url "login_url" %} class="btn">Login</a>


    </div>
</section>
<section class="container about" id="home">
   
    <div class="about-txt ">
        <h2>We Provide You the Best <br>Unlock Your Potential</h2>
        <p>Discover new skills and enhance your expertise with our carefully curated workshops</p>
        <p> Our workshops are crafted to give you practical knowledge that you can use right away</p>
        <p>From technology to creativity to advancing your career, we have a comprehensive range of offerings to support you.</p>
        <a href="{% url "category" %}" class="btn">View Workshops</a>
        


    </div>
    <div class="about-img">
        <img src="{% static "progress.jpg" %}" alt="">

    </div>
</section>


{% endblock  %}